*{
    cursor: none !important;
}
.cursor{

    opacity: 0.8;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 2px solid #ffffff;

    z-index: 99;

    position : absolute;

    user-select: none;
    pointer-events: none;
}
